<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Twitter Get Rest API</title>
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <h2>Hello World</h2>
    <!-- <div class="container">
        <h1 class="banner">List Tweets From {Local, Cloud} MongoDB</h1>
        <div class="tweets">
            <table>
                <caption>Tweets</caption>
                <thead>
                    <tr>
                        <th>WOEID</th>
                        <th>Location</th>
                        <th>Hashtag</th>
                        <th>Sentiment</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="error"></div>
    </div> -->
</body>
</html>

<script src="static/js/home.js"></script>